#configuration for simulator

# Time Parameters
start_time_epoch = 0
max_time_epoch = 3600

#road_file_addr : ./data/roadnet_round2.txt
#vehicle_file_addr : ./data/flow_round2.txt
#road_file_addr : /root/cbengine/core/data/roadnet_round2.txt
#vehicle_file_addr : /root/cbengine/core/data/flow_round2.txt
road_file_addr : ./data/roadnet_round2.txt
vehicle_file_addr : ./data/flow_round2.txt
#road_file_addr : ./data/roadnet_manhattan.txt
#vehicle_file_addr : ./data/flow_manhattan_1.txt
#road_file_addr : ./data/roadnet_manhattan.txt
#vehicle_file_addr : ./data/flow_manhattan_2.txt
#road_file_addr : ./data/roadnet_shanghai.txt
#vehicle_file_addr : ./data/flow_shanghai.txt


#road_file_addr : ./data/roadnet_1x1.txt
#vehicle_file_addr : ./data/flow_1x1.txt
#road_file_addr : ./data/roadnet_round3.txt
#vehicle_file_addr : ./data/flow_round3_flow0.txt


# Log Trace
report_log_mode : normal
report_log_addr : ./log/
report_log_rate = 10
warning_stop_time_log = 100
